{
  "presets": ["env"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  }
}